.box{
    display: flex;
    flex-direction: column;
    box-shadow: -1px -1px 3px 0px rgba(255, 255, 255, 1), 1.5px 1.5px 3px 0px rgba(110, 110, 112, 1);
    height: 30vh;
    width: 30vw;
    margin: 2vw;
    padding: 1vh;
    border-radius: 20px;
    background-color: #EEEEEE;
}

.box h4 {
    margin: 1.5vh;
}
.box h5 {
    margin: 3vh 1.5vh 0;
}

.box p {
    display: flex;
    height: 10vh;
    text-align: left;
    margin: 1%;
    text-decoration: underline;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(66, 66, 71, 0.2);
    border-radius: 10px;
    padding: 5px;
}

.skills_in_cat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.skill {
    padding: 0.1vh;
    margin: 1px;
}
.skill svg{
    filter: grayscale();
    padding: 0.2vw;
    height: 7vh;
    width: 7vw;
}
.skill svg:hover {
     filter: none;
}

@media screen and (max-width: 500px) {
    .box{
        height: 30vh;
        width: 70vw;  
        margin: 2.5vh 0; 
    }
    .skill{
        padding: 0 2vw;
    }
    .skill svg{
       height: 6vh;
       width: 6vh;
    }
}


