.academics{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0%;
    left: 0%;
    height: 80vh;
    background-color: #EEEEEE;
    justify-content: center;
    align-items: center;
}
.academics h2{
    position: absolute;
    top: 8%;
    left: 5%;
}
.description{
    position: absolute;
    top: 15%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
    margin-top: 7vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.description .heading{
    font-size: 3.5vh;
}
.description .info{
    font-size: 3vh;
}

@media screen and (max-width: 500px) {
   .description{
       margin-top: 0;
       top: 15%;
   }
   .academics h2{
       top: 3%;
   }
}
