.experience{
  position: relative;
  height: 80vh;
  left: 0;
  right: 0;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projectExperience{
  text-align: center;
  padding: 30px;
}
.projectExperience a img{
  height: 30vh;
  width: 30vw;
}
.workExperience{
  text-align: center;
  padding: 30px;
}

@media screen and (max-width: 500px) {
  .experience{
    flex-direction: column-reverse;
  }
  .projectExperience a img{
    height: 20vh;
    width: 70vw;
  }
}