.navBarItems {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    padding: 0px 16px;
    transition: width 2s;
  }
  @media screen and (max-width: 500px) {
       .navBarItems{
         display: block;
         width: 100%;
       }
  }

  




