.navBarItem {
    display: flex;
    padding: 5px;
    }

.navBarItem a{
    background-color: #EEEEEE;
    justify-content: center;
    align-items: center;
    margin: 0 0.5vw;
    font-size: 15px;
    height: 7vh;
    width: 8vw;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    border-radius: 10px;
    box-shadow: -1px -1px 3px 0px rgba(255, 255, 255, 1), 1.5px 1.5px 3px 0px rgba(110, 110, 112, 1);
}

.navBarItem a svg{
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: inherit;
    height: 3vh;
    width: 3vh;
}

.navBarItem a:hover{
    color: rgba(61, 155, 206, 1);
}
.navBarItem a:active{
    background-color: #EEEEEE;
    color: rgba(61, 155, 206, 1);
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
    font-weight: 900;
}

@media screen and (max-width: 500px) {
    .navBarItem a{
        height: 6vh;
        width: 80%;
          font-weight: 100;
          flex-direction: row;
         
    }

    .navBarItem a svg{
        margin: auto 10px auto 10px;
        height: 12px;
        width: 12px;
        
    }
}









