.NavBar {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    background-color: rgba(238, 238, 238, 0.7);
    z-index: 100;
    }

.NavBar .desktop{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavBar .mobile{
    display: none;
}

.NavBar .mobile .button {
    height: 6vh;
    width: 6vh;
}


@media screen and (max-width: 500px) {
    .NavBar{
        position: fixed;
        background-color: #EEEEEE;
        bottom: 0px;
        top: 90%;
        height: 10vh;
  }
    .NavBar .desktop{
        display: none;
   }
   
    .NavBar .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
    }
    .NavBar .mobile .button {
        height: 6vh;
        width: 6vh;
    }
}