.NavBar {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    background-color: rgba(238, 238, 238, 1);
    z-index: 100;
    }

.NavBar .desktop{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavBar .mobile{
    display: none;
}

.NavBar .mobile button {
    height: 6vh;
    width: 15vw;
    border: none;
    box-shadow: -1px -1px 3px 0px rgba(255, 255, 255, 1), 1.5px 1.5px 3px 0px rgba(110, 110, 112, 1);
    border-radius: 10px;
}
.NavBar .mobile button svg {
    height: 4vh;
    width: 4vh;
    color: rgba(0, 0, 0, 0.54);
}


@media screen and (max-width: 500px) {
    .NavBar{
        bottom: 0px;
        top: auto;
  }
    .NavBar .desktop{
        display: none;
   }
   
    .NavBar .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 9vw;
        margin-right: 9vw;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
    }
}