.home{
    display: flex;
    flex-direction: column;
    position: relative;
    color: #EEEEEE;
    height: 100vh;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(120, 120, 120, 0.5);
    z-index: 90;
}

.home h1{
    text-align: center;
}
.home h2{
    text-align: center;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;

}
.home ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
    height: 6vh;
    background-color: #EEEEEE;
    box-shadow: 6px 6px 6px 0px rgb(0, 0, 0, 0.7);
    border-radius: 10px;
}
.home ul a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home ul a svg{
    padding-left: 15px;
    padding-right: 15px;
    height: 24px;
    width: 24px;
}
.scrolldown{
    position: relative;
    height: 10vh;
    width: 90vw;
    left: 5%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    z-index: 90;
}
.scrolldown svg{
    height: 30px;
    width: 30px;
    color: black;
}
.scrolldown svg:hover{
    color: aqua;
}

@media screen and (max-width: 500px) {
    .home {
        height: 90vh;
    }
}