.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    left: 0;
    right: 0;
    font-family: 'Mate SC';
}
.box{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    right: 0;
    height: 60vh;
    width: 50vw;
    background-color: #EEEEEE;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 8px 0px rgb(0, 0, 0, 0.7);
    text-align: left;
    margin-top: 10vh;
}
.box label{
    width: 16vw;
    text-align: left;
    margin-top: 1vh;
    color: rgba(0, 0, 0, 0.54);
}
.box button{
    border: none;
    box-shadow: -1px -1px 3px 0px rgba(255, 255, 255, 1), 1.5px 1.5px 3px 0px rgba(110, 110, 112, 1);
    border-radius: 5px;
    height: 4vh;
    width: 5vw;
    margin: 2vh 0;
    color: rgba(0, 0, 0, 0.54);
}
.inputElement{
    padding: 2px 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 4vh;
    width: 15vw;
    border-radius: 10px;
    border: none;
    background-color: #EEEEEE;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
}
.inputMsg{
    padding: 6px 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #EEEEEE;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
    min-height: 10vh;
    min-width: 15vw;
}
.socialLink{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    box-shadow: 8px 8px 8px 0px rgb(0, 0, 0, 0.7);
    margin-top: 8vh;
    border-radius: 5px;
}
.socialLink a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}
.socialLink p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    margin: 0;
}
.socialLink a svg{
    height: 5vh;
    width: 5vh;
    filter: grayscale();
}
.socialLink p svg{
    height: 5vh;
    width: 5vh;
    filter: grayscale();
}
.socialLink a svg:hover{
    filter: none;
}
.socialLink p svg:hover{
    filter: none;
}

@media screen and (max-width: 500px) {
    .contact{
        justify-content: center;
    }
    .box{
        height: 50vh;
        width: 80vw;
        margin-top: 0;
    }
    .box button{
        height: 5vh;
        width: 20vw;
        margin: 2vh 0;
    }
    .inputElement{
      height: 5vh;
      width: 50vw;
    }
    .inputMsg{
      min-height: 10vh;
      min-width: 50vw;
    }
    .socialLink{
        margin-top: 5vh;
    }
}