body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-size: cover;
  background-position: 5% 70%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


