.layout{
    z-index: 80;
}
.navBar {
  position: fixed;
  top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 100;
  width: 100vw;
}
