.aboutMe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80vh;
    background-color: transparent;
    font-family: 'Raleway';
}
.aboutMe img{
    border-radius: 100%;
    width: 25vw;
    margin: 10vh 5vw 5vh;
    box-shadow: 8px 8px 8px 0px rgb(0, 0, 0, 0.7);
}
.aboutMe p {
    margin: 5%;
    border-radius: 10px;
    padding: 2%;
    background-color: #EEEEEE;
    width: 75%;
    text-align: center;
    align-items: center;
    box-shadow: 8px 8px 8px 0px rgb(0, 0, 0, 0.7);
}
@media screen and (max-width: 500px) {
     .aboutMe{
         flex-direction: column;
         height: auto;
     }
     .aboutMe img{
         width: 40vw;
     }
}